{{!-- home.handlebars --}}

    <div class="jumbotron">
      <h1 class="display-4">White Elephant Game</h1>
      <p>Welcome to the White Elephant Game! We need a few particulars to get the game started, such as the
        name of the game and how many shekels you want everyone to spend, but after that info you can
        kick it off for everyone to submit their presents. Don't forget to play nice, and have fun!
      </p>
      <hr class="my-4">
      <form id="form1" method="POST" action="/gamespecs">
        <!-- From Steve, HBS likes forms like this -->
        <div class="form-group">
          <label for="gameDetailsName">Game Name:</label>
          <input type="text" class="form-control" id="game-name" name="gameName">
        </div>
        <div class="form-group">
          <label for="gameMaxSpend">Max $$$ Spend Per Player:</label>
          <input type="text" class="form-control" id="dollar-spend" name="dollarSpend"><br>
        </div>
      </form>
      <button type="submit" form="form1" id="get-started" value="Submit" class="btn btn-danger float-right">Define
        Game</button>

    </div>
