body {
    background-color: #06522c;
    /* background:  */
} 

h1 {
    color: green;
}

p {
    color: green;
}

#main-area {
    /* clear: both; */
    font-style: italic;
    width: 1200px;
    /* height: 400px; */
    /* margin: 25px 15% 25px 33.3%; */
    margin: 25px auto;
    background-color: #d81919;
    padding: 25px;
}
    
#steal-gift, #get-started, #enter-player, #select-gift {
    margin: 5px;
}

/* #select-gift {
    margin: 5px;
} */

form {
   color: green;
   background:transparent;
}

#gifts-area {
    color: red;
    font-size: 15px;
}